<h2 mat-dialog-title class="text-2xl font-semibold text-center text-black">Change Password</h2>

<mat-dialog-content class="p-6 space-y-6">
  <form (ngSubmit)="onSubmit()" class="space-y-6" #passwordForm="ngForm">

    <!-- Current Password -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Current Password</mat-label>
      <div class="flex items-center w-full">
        <input matInput [(ngModel)]="currentPassword" name="currentPassword" [type]="currentPasswordVisible ? 'text' : 'password'" required class="input input-bordered w-full" #currentPasswordField="ngModel"/>
        <button type="button" mat-icon-button (click)="togglePasswordVisibility('current')" class="ml-2">
          <mat-icon class="text-blue-500">{{ currentPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
      <div *ngIf="currentPasswordField.invalid && currentPasswordField.touched" class="text-red-500 text-sm">
        Current Password is required.
      </div>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>New Password</mat-label>
      <div class="flex items-center w-full">
        <input matInput [(ngModel)]="newPassword" name="newPassword" [type]="newPasswordVisible ? 'text' : 'password'" required class="input input-bordered w-full" #newPasswordField="ngModel"/>
        <button type="button" mat-icon-button (click)="togglePasswordVisibility('new')" class="ml-2">
          <mat-icon class="text-blue-500">{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
      <div *ngIf="newPasswordField.invalid && newPasswordField.touched" class="text-red-500 text-sm">
        New Password is required.
      </div>
    </mat-form-field>

    <!-- Confirm New Password -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirm New Password</mat-label>
      <div class="flex items-center w-full">
        <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" [type]="confirmPasswordVisible ? 'text' : 'password'" required class="input input-bordered w-full" #confirmPasswordField="ngModel"/>
        <button type="button" mat-icon-button (click)="togglePasswordVisibility('confirm')" class="ml-2">
          <mat-icon class="text-blue-500">{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
      <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-red-500 text-sm">
        Confirm New Password is required.
      </div>
      <div *ngIf="confirmPassword !== newPassword && confirmPasswordField.touched" class="text-red-500 text-sm">
        New Password and Confirm New Password do not match.
      </div>
    </mat-form-field>

    <div mat-dialog-actions class="flex justify-between space-x-4">
      <button (click)="onCancel()" class="px-11 py-2 text-white bg-red-500 hover:bg-red-600 rounded-md">Cancel</button>
      <button type="submit" class="px-4 py-2 text-white bg-green-500 hover:bg-green-600 rounded-md" [disabled]="newPassword !== confirmPassword || passwordForm.invalid">Change Password</button>
    </div>

  </form>
</mat-dialog-content>
