<nav class="bg-customBlue h-16 flex flex-col md:flex-row md:justify-center items-center">
    <div class="flex items-center">
        <img src="assets/images/VPCL Logo.PNG" class="w-64 h-16" />
        <p class="text-white font-circular text-2xl pl-4 pt-4">Welcome</p>
    </div>    

    <div class="flex justify-center w-full">
        <!-- Added flex-nowrap to prevent wrapping of menu items -->
        <ul class="flex flex-nowrap space-x-36 pt-2 ">
            <li><a [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="text-white font-bold">Ticket Details</a></li>
            <li class="relative group">
                <a [routerLink]="['/customerdetails']" routerLinkActive="router-link-active"  class="text-white font-bold">Customer Details <span class="text-white ml-2"><i class="fas fa-chevron-down"></i></span></a>
                <ul class="absolute hidden group-hover:block bg-white text-black p-2 rounded shadow-lg">
                   
                    <li class="px-4 py-2 hover:bg-customBlue hover:text-white whitespace-nowrap">
                        <a [routerLink]="''">Customer Details</a>
                    </li>
                    <li class="px-4 py-2 hover:bg-customBlue hover:text-white whitespace-nowrap">
                        <a [routerLink]="'/subcustomerdetails'">SubCustomer Details</a>
                    </li>
                    <li class="px-4 py-2 hover:bg-customBlue hover:text-white whitespace-nowrap">
                        <a [routerLink]="'/tankmaster'">Tank Details</a>
                    </li>
                </ul>
                
            </li> 
            <li class="relative group">
                <a href="#" class="text-white font-bold">Admin Details <span class="text-white ml-2"><i class="fas fa-chevron-down"></i></span></a>
                <ul class="absolute hidden group-hover:block bg-white text-black p-2 rounded shadow-lg">
                    <li class="px-4 py-2 hover:bg-customBlue hover:text-white whitespace-nowrap"><a [routerLink]="'/adminregister'">Admin Register</a></li>
                </ul>
            </li>

            
        </ul>
    </div>
    <div class="ml-auto flex space-x-6">
        <!-- Password Change Icon -->
        <button class="text-white hover:text-green-500"(click)="openPasswordChangeDialog()" >
            <i class="fas fa-key text-xl"></i>
        </button>

        <!-- Logout Icon (Power Symbol) -->
        <button class="text-white hover:text-red-600 p-5 " (click)="logout()">
            <i class="fas fa-power-off text-xl"></i>
        </button>
    </div>
</nav>
<div class="grid grid-cols-2 gap-4 mx-16 my-8">
    <input type="hidden" id="hdnID" value="@ViewBag.Id" />

    <div>
        <label for="txtCustomerName" class="block text-lg font-medium">Customer Name (<span class="text-red-600">*</span>)</label>
        <input type="text" id="txtCustomerName" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md" />
    </div>

    <div>
        <label for="txtEmailId" class="block text-lg font-medium">Email ID (<span class="text-red-600">*</span>)</label>
        <input type="text" id="txtEmailId" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md" />
        <span id="spEmail" class="hidden text-red-600">Please Enter Valid Email</span>
    </div>

    <div>
        <label for="txtCustomerId" class="block text-lg font-medium">Customer ID (<span class="text-red-600">*</span>)</label>
        <input type="text" id="txtCustomerId" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md" onkeypress="return isNumberKey(event)" />
    </div>

    <div>
        <label for="ddlrole" class="block text-lg font-medium">Role ID</label>
        <select id="ddlrole" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md">
            <option value="1">User</option>
            <!-- <option value="2">Admin</option> -->
        </select>
    </div>

    <div>
        <label for="txt_htd_CFO" class="block text-lg font-medium">HTDs CFO Quantity</label>
        <input type="text" id="txt_htd_CFO" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md" />
    </div>

    <div>
        <label for="ddlzone" class="block text-lg font-medium">Zone</label>
        <select id="ddlzone" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md">
            <option value="0">Select</option>
            <option value="1">Zone A</option>
            <option value="2">Zone B</option>
            <option value="3">Zone C</option>
            <option value="4">Outside Customer</option>
        </select>
    </div>

    <div>
        <label for="txt_ltds_CFO" class="block text-lg font-medium">LTDs CFO Quantity</label>
        <input type="text" id="txt_ltds_CFO" class="border border-gray-300 focus:ring-2 focus:ring-blue-500 w-full h-10 text-lg rounded-md" />
    </div>

    <div>
        <label for="ckid" class="block text-lg font-medium">Sub Customer</label>
        <input id="ckid" type="checkbox" class="h-5 w-5 rounded-md border-gray-300" />
    </div>

    <div class="col-span-2 flex justify-center">
        <button type="button" class="bg-customBlue text-white py-3 px-6 rounded-xl hover:bg-green-500" id="btnAdd" onclick="return Add_Customer();">Submit</button>
    </div>
</div>
