<div class="min-h-screen flex-col justify-center bg-gray-400 bg-cover bg-center bg-no-repeat bg-fixed" style="background-image: url('assets/images/BG.JPG');">
    <div class="relative sm:max-w-xl sm:mx-auto text-center">
        <!-- Logo Section -->
        <div class="px-6 pt-6">
            <img src="assets/images/VPCL Logo.PNG" class="mx-auto mt-20 w-[350px] h-[150px]" alt="Logo">
        </div>
        
        <!-- Forgot Password Form Section -->
        <div class="mt-4 bg-white shadow-md rounded-lg text-left w-15 mx-20 h-auto">
            <div class="h-20 text-center bg-customBlue rounded-t-sm mt-8">
                <h3 class="text-white py-6 text-[28px]">Forgot Password</h3>
            </div>
            <div class="py-4 px-6">
                <!-- Email Field -->
                <label class="block font-semibold text-center">Enter Emailid</label>
                <input matInput [(ngModel)]="email" name="email" type="email" required 
                       class="border-2 border-gray-300 w-full h-15 px-3 py-3 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-400 rounded-sm">
            </div>
            
            
            <!-- Action Buttons -->
            <div class="flex justify-between space-x-4 px-6 pb-6">
                <button type="button" (click)="onCancel()" class="px-10 py-2 text-white bg-red-500 hover:bg-red-600 rounded-md" [routerLink]="'/login'" routerLinkActive="router-link-active">Cancel</button>
                <button type="submit" class="px-12 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded-md" [disabled]="!email">Send</button>
            </div>
            
            <!-- Powered By Section -->
            <div class="flex justify-end">
                <p class="ml-55 mt-4">Powered by</p>
                <img src="assets/images/sharvi-logo.png" class="w-[120px] h-[60px]" alt="Powered by Logo">
            </div>
        </div>
    </div>
</div>
